.appLayout {
    min-height: 100vh;
    background-color: #f9f9f9;

    display: grid;
    grid-template-columns: minmax(1rem, 1fr) minmax(40rem, 80rem) minmax(
            1rem,
            1fr
        );
    grid-template-rows: 7rem 1fr 5rem;
}

.header {
    grid-column: 1 / -1;
    background-color: #ffffff;
    padding: 1rem 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.mainContainer {
    grid-column: 2;
    padding: 3rem 1rem;
    max-width: 80rem;
}

.footer {
    grid-column: 1 / -1;
    background-color: #ffffff;
    padding: 1rem 2rem;
    font-size: 0.875rem;
    color: #666666;

    display: flex;
    justify-content: center;
    align-items: center;
}

.footerText {
    color: #6c757d;
    font-size: 14px;
}
