.appLayout {
    height: 100vh;
    background-color: #f9f9f9;

    display: flex;
    flex-direction: column;
}

.header {
    width: 100%;
    height: 6rem;
    background-color: #ffffff;
    padding: 1rem 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.mainContainer {
    padding: 2rem 1rem;
    width: 100%;
    flex: 1;
    overflow-y: auto;

    display: flex;
    justify-content: center;
}

.footer {
    width: 100%;
    height: 3rem;
    background-color: #ffffff;
    padding: 1rem 2rem;
    font-size: 0.875rem;
    color: #666666;

    display: flex;
    justify-content: center;
    align-items: center;
}

.footerText {
    color: #6c757d;
    font-size: 14px;
}
