:root {
    --color-primary: #ba3464;
    --color-primary-dark: #912d6c;
    --color-success: #34BA8A;
    --color-success-dark: #2c9f74;
    --color-danger: #c22e3a;
    --color-danger-dark: #a02025;
    --color-foreground: #333333;
    --color-background: #f9f9f9;
    --color-white: #ffffff;
    --color-gray: #b6bbc1;
    --color-gray-dark: #979fa5;
    --color-gray-light: #f4f4f4;
}

* {
    box-sizing: border-box;
}

body,
html {
    margin: 0;
    font-family: "Lato", sans-serif;
    line-height: 1.6;
    font-size: 1rem;
    color: var(--color-foreground);

    @media screen and (max-width: 1000px) {
        font-size: 0.9rem;
    }
}

h1,
h2,
h3,
p {
    margin: 0;
}
