.tableContainer {
    overflow: auto;
}

table {
    width: 100%;
    border-collapse: collapse;
}

.icons {
    display: flex;
    justify-content: space-between;
    gap: 0.5rem;
}

.editIcon {
    cursor: pointer;
    transition: all 0.2s;
    color: var(--color-success);
}

.editIcon:hover {
    color: var(--color-success-dark);
    transform: scale(1.2);
}

.deleteButton {
    border: none;
    background: none;
    padding: 0;
    cursor: pointer;
    color: var(--color-danger);
    transition: all 0.2s;
}

.deleteButton:hover {
    color: var(--color-danger-dark);
    transform: scale(1.2);
}

.noData {
    text-align: center;
    color: var(--color-gray);
    padding: 1rem;
}
