table {
    width: 100%;
    border-collapse: collapse;
}

.icons {
    display: flex;
    justify-content: space-between;
}

.editIcon {
    cursor: pointer;
    color: #007bff;
    transition: all 0.2s;
}

.editIcon:hover {
    color: #0056b3;
    transform: scale(1.1);
}

.deleteButton {
    border: none;
    background: none;
    cursor: pointer;
    color: red;
    transition: all 0.2s;
}

.deleteButton:hover {
    color: darkred;
    transform: scale(1.1);
}

.noData {
    text-align: center;
    color: #999;
    padding: 1rem;
}
