.nav {
    padding: 1rem;
}

.navList {
    list-style: none;
    padding: 0;
}

.navList li {
    display: inline;
    margin-right: 1rem;
}

.navList a {
    text-decoration: none;
    color: var(--color-primary);
    font-size: 1.2rem;

    &.active {
        font-weight: bold;
        color: var(--color-primary-dark);
        font-size: 1.3rem;
    }
}

.navList a:hover {
    text-decoration: underline;
}
