.navList {
    list-style: none;
    padding: 0;
    display: flex;
    align-items: center;
    gap: 1rem;
}

.navList a {
    text-decoration: none;
    color: var(--color-primary);
    font-size: 1.2rem;

    &.active {
        font-weight: bold;
        color: var(--color-primary-dark);
        font-size: 1.3rem;
    }
}

.navList a:hover {
    text-decoration: underline;
}
