.contentContainer {
    flex: 1;
    max-width: 80rem;
    padding: 0 1rem;
    
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.flexContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.searchContainer {
    display: flex;
    align-items: center;
    gap: 1rem;

    input {
        max-width: 20rem;
    }
}

.clearIcon {
    cursor: pointer;
    transition: transform 0.2s;
    color: var(--color-gray);
    background-color: transparent;
    margin-left: -2.5rem;

    &:hover {
        transform: scale(1.2);
    }
}